.footer	{color: #333399;font-family: Times New Roman; font-size: 12px; text-decoration: none;}
.headNotSelect {color:#0000cc;padding-right: 30;}
.headSelect {color: #000000;padding-right: 30;}
.genLinks {color: #333399;font-family: Times New Roman; font-size: 12px; text-decoration: underline;}
.refLinks {color: #333399;font-family: Times New Roman; font-size: 14px; text-decoration: underline;}
h1 { text-align:left; border-bottom: 2px solid #9BBAD6;color: #000066;font-size: 14pt;font-weight: 500;margin-top: 10px; }